body {background-color:rgb(204, 217, 218); padding: 10px}
header {
  height : 20px;
  width : 100%;
  border : 2px solid DodgerBlue;
}

img:hover {
  width: 60px;
  height: 60px;
}
hr {
  width:600;
  margin:auto;
}
